body {
	background-color: #f6f6f6;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
	text-decoration: none;
}

ul, li {
	padding: 0;
	margin: 0;
}

.pt-mh {
	padding-top: 66px;
	min-height: calc( 100vh - 206px);
}

.pt-mh-100 {
	padding-top: 66px;
	min-height: 100vh;
}

.btn-primary {
	font-weight: bold;
	color: white;
	 &:hover, &:active:focus	{
		color: white;
	 }
}

.btn-outline-primary {
	font-weight: bold;
	&:hover {
		color: white;
	}
}

.form-label {
	font-weight: bold;
}

